matplotlib==3.10.1
numpy==2.1.2
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@06a76ef8ddd00b6c889768dfc990ae8cb07c6f2f
tqdm==4.67.1
opencv-python==4.11.0.86
# warp-lang==1.8.0.dev20250425
plyfile==1.1
scikit-sparse==0.4.15
icecream==2.1.4
colorful==0.5.6
pyvista==0.44.2
meshio==5.3.5
torch_scatter==2.1.2+pt23cu121
sam2==0.4.1